$purple: #8D53FF;
$white: #EAE7DC;
$dark: #525150;
$red: #FF6057;
$yellow: #FFBD2E;
$green: #27C93F;
$lightgray: #E85A47;
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}